### Import Dependencies

In [29]:
from tkinter import *
from tkinter import ttk
import pandas as pd
import math
import numpy as np
import copy
import io
import re
# !pip install mysql-connector
# !pip install pymysql
# !pip install anytree
# !pip install graphviz
# !pip install pydot
# !pip install sqlalchemy
# from anytree import Node, RenderTree
# import pymysql
import mysql.connector

### Read the data

In [43]:
section_sheet = 'Section_14_Flood_Insurance_temp' 

df = pd.read_excel(r'C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\Rule2Graph.xlsx', sheet_name = section_sheet)

df = df.drop(['Shape', 'Color'], axis=1) 

Node_ID, Node_Desc = [], []
Parent_ID = []

# Extract Node_ID and Node_Desc
for values in df['Name']:
    try:
        Node_ID.append(re.search(r'(R_[0-9_]+)', values).group())  
        Node_Desc.append(values.replace(re.search(r'(R_[0-9_]+)', values).group(), '')) 
    except:
        Node_ID.append('')
        Node_Desc.append('')

for values in df['Parent']:
    try:
        Parent_ID.append(re.search(r'^(R_[0-9_]+)', values).group())
    except:
        Parent_ID.append('')

df['Node_ID'] = Node_ID
df['Parent_ID'] = Parent_ID
df['Node_Desc'] = Node_Desc

for i in range(len(df)):
    if df['Node_Desc'][i] == '':
        df['Node_Desc'][i] = df['Name'][i]

    if df['Node_ID'][i] == '':
        df['Node_ID'][i] = df['Name'][i]


df['Node_Desc'] = df['Node_Desc'].str.strip()
df.head()

,Name,Parent,Decision,Node_ID,Parent_ID,Node_Desc
0,R_14 Flood insurance Pass,-1,NaN,R_14,,Flood insurance Pass
1,R_14_1 Flood Insurance is NOT required,R_14 Flood insurance Pass,NaN,R_14_1,R_14,Flood Insurance is NOT required
2,FLD_ZONE_NM,R_14_1 Flood Insurance is NOT required,NaN,FLD_ZONE_NM,R_14_1,FLD_ZONE_NM
3,R_14_2 Flood Insurance is required AND meets r...,R_14 Flood insurance Pass,OR,R_14_2,R_14,Flood Insurance is required AND meets requirem...
4,R_14_2_1 Meet Flood Insurance Review Requirements,R_14_2 Flood Insurance is required AND meets r...,NaN,R_14_2_1,R_14_2,Meet Flood Insurance Review Requirements

In [44]:
# Convert column names to uppercase
df.columns = [x.upper() for x in df.columns]

# Modify ID columns
df['NODE_ID'] = df['NODE_ID'].str.replace("['.','-']","_")
df['PARENT_ID'] = df['PARENT_ID'].str.replace("['.','-']","_")

# Remove all leading and trailing spaces from ID columns
df['NODE_ID'] = df['NODE_ID'].str.strip()
df['PARENT_ID'] = df['PARENT_ID'].str.strip()

# Add 'PARENT_DESC' column from 'NODE_DESC'      
df = pd.merge(df, df[['NODE_ID', 'NODE_DESC']], how = 'left', left_on = ['PARENT_ID'], right_on = ['NODE_ID'])
# rename columns
df = df.rename(columns={'NODE_ID_x':'NODE_ID', 'NODE_ID_y':'PARENT_ID_NEW', 'NODE_DESC_x':'NODE_DESC', 'NODE_DESC_y':'PARENT_DESC', 'DECISION': 'OPERATOR'})

df.loc[df["PARENT_ID_NEW"]=='', "PARENT_DESC"] = ''

df = df.drop_duplicates(subset=['NODE_ID', 'PARENT_ID'], keep="first")
df.to_csv(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\Test1.csv", index = False)
df.head()

C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_16920\1986169563.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['NODE_ID'] = df['NODE_ID'].str.replace("['.','-']","_")
C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_16920\1986169563.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['PARENT_ID'] = df['PARENT_ID'].str.replace("['.','-']","_")

,NAME,PARENT,OPERATOR,NODE_ID,PARENT_ID,NODE_DESC,PARENT_ID_NEW,PARENT_DESC
0,R_14 Flood insurance Pass,-1,NaN,R_14,,Flood insurance Pass,NaN,NaN
1,R_14_1 Flood Insurance is NOT required,R_14 Flood insurance Pass,NaN,R_14_1,R_14,Flood Insurance is NOT required,R_14,Flood insurance Pass
2,FLD_ZONE_NM,R_14_1 Flood Insurance is NOT required,NaN,FLD_ZONE_NM,R_14_1,FLD_ZONE_NM,R_14_1,Flood Insurance is NOT required
3,R_14_2 Flood Insurance is required AND meets r...,R_14 Flood insurance Pass,OR,R_14_2,R_14,Flood Insurance is required AND meets requirem...,R_14,Flood insurance Pass
4,R_14_2_1 Meet Flood Insurance Review Requirements,R_14_2 Flood Insurance is required AND meets r...,NaN,R_14_2_1,R_14_2,Meet Flood Insurance Review Requirements,R_14_2,Flood Insurance is required AND meets requirem...

In [45]:
####################################################################################
# Requirement-1: auto create node_type
####################################################################################

#### step-1: Generate 'RULE_TYPE' whether non_raw_attr/raw_attr
'''
Below code traverses from root node to raw attributes
'''
df1 = df.copy()

# Root node
root = ''
current_parent = [root]
current_children = df1[df1["PARENT_ID"]=='']['NODE_ID'].tolist()

data = []
while len(current_children)>0:
    
    # Dataset of children of current_parent
    temp = df1[df1["PARENT_ID"].isin(current_parent)]

    for pt_item in current_parent:
        temp_parent = temp[temp["PARENT_ID"]==pt_item]
        rule_type = ''
        for index, row in temp_parent.iterrows():

            rule_type = "non_raw_attr"
        data.append((pt_item, rule_type))
        

    current_parent = current_children
    current_children = df1[df1["PARENT_ID"].isin(current_parent)]['NODE_ID'].tolist()     
                
# Convert list to dataframe
data = pd.DataFrame(data, columns=["NODE_ID", "RULE_TYPE"])            

# Merge RULE_TYPE column with main dataframe
df1 = pd.merge(df1, data, how = 'left', left_on = ['NODE_ID'], right_on = ['NODE_ID'])


#### step-2: Generate 'NODE_TYPE' column (Label: master, raw_attr, decision_node)
# Places FORMULAs in one column 

df1["NODE_TYPE"] = ''
for i in range(len(df1)):
    
    if df1["RULE_TYPE"][i] == "non_raw_attr":
        df1["NODE_TYPE"][i] = "decision_node"
    else:
        df1["NODE_TYPE"][i] = "raw_attr"
    
    if df1["PARENT_ID"][i]=='':
        df1["NODE_TYPE"][i] = "master"

# Label "leaf_rules" (parents of 'raw_attr' are 'leaf_rule')
for i in range(len(df1)): 
    for j in range(len(df1)):
        if df1["NODE_TYPE"][i] == "raw_attr":
            if df1["NODE_ID"][j] == df1["PARENT_ID"][i]:
                df1["NODE_TYPE"][j] = "leaf_rule"

In [49]:
#### step-3: Generate 'FORMULA' for non-leaf rules
'''
Below code traverses from root node to leaf rules
'''
# Remove raw attributes from the dataframe
# df2 = df1[~df1["NODE_TYPE"].isin(['raw_attr'])]

# Root node
root = ''
current_parent = [root]
current_children = df1[df1["PARENT_ID"]=='']['NODE_ID'].tolist()

# current_parent = current_children
# current_children = df1[df1["PARENT_ID"].isin(current_parent)]['NODE_ID'].tolist() 

# current_parent = current_children
# current_children = df1[df1["PARENT_ID"].isin(current_parent)]['NODE_ID'].tolist() 

# temp = df1[df1["PARENT_ID"].isin(current_parent)]
# temp.head()


data = []
while len(current_children)>0:
    
    # Dataset of children of current_parent
    temp = df1[df1["PARENT_ID"].isin(current_parent)]

    for pt_item in current_parent:
        temp_parent = temp[temp["PARENT_ID"]==pt_item]
        formula = ''
        for index, row in temp_parent.iterrows():
            if row['NODE_TYPE']=='raw_attr':
                if pd.isna(row['OPERATOR'])==False:
                    formula = formula + " "+ str(row['OPERATOR']) + " " + str(row['NODE_ID']) + " =1" 
                else:
                    formula = formula +str(row['NODE_ID']) + " =1"
            else:
                if pd.isna(row['OPERATOR'])==False:
                    formula = formula + " "+ str(row['OPERATOR']) + " " + str(row['NODE_ID'])
                else:
                    formula = formula +str(row['NODE_ID'])

        data.append((pt_item, formula.strip()))
        

    current_parent = current_children
    current_children = df1[df1["PARENT_ID"].isin(current_parent)]['NODE_ID'].tolist()     
                
# Convert list to dataframe
data = pd.DataFrame(data, columns=["NODE_ID","FORMULA"])            

# Merge FORMULA column with main dataframe
df1 = pd.merge(df1, data, how = 'left', left_on = ['NODE_ID'], right_on = ['NODE_ID'])

# drop the extra columns
df1 = df1.drop(['RULE_TYPE'], axis=1) 


# df1.to_csv(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\Test1.csv", index = False)

df1.head()

AttributeError: 'float' object has no attribute 'notnull'

In [56]:
# df1.head()
df1[df1["NODE_ID"]=='R_16_1_1']["FORMULA"].tolist()

[nan]

In [60]:
data = []
for index, row in df2.iterrows():
    
    # current parent and children
    current_parent = str(row["NODE_ID"])
    current_children = df1[df1["PARENT_ID"]==current_parent]["NODE_ID"].tolist()

    # Formula for leaf_rule
    formula = str(row["FORMULA"])

    # print(current_parent, current_children, formula)
    for i in range(len(current_children)):
        if str(df1[df1["NODE_ID"]==current_children[i]]["NODE_DESC"].item()) not in formula:
            FORMULA_ATTR_MISMATCH = 1
            data.append((current_children[i], FORMULA_ATTR_MISMATCH, formula))
        
                
# Convert list to dataframe
data = pd.DataFrame(data, columns=["NODE_ID","FORMULA_ATTR_MISMATCH", "FORM2"])           

# Merge FORMULA column with main dataframe
df1 = pd.merge(df1, data, how = 'left', left_on = ['NODE_ID'], right_on = ['NODE_ID'])
df1.head()

,NODE_ID,PARENT_ID,NODE_DESC,PARENT_DESC,OPERATOR,NODE_TYPE,FORMULA,FORMULA_ATTR_MISMATCH_x,FORM2_x,FORMULA_ATTR_MISMATCH_y,FORM2_y,FORMULA_ATTR_MISMATCH,FORM2
0,R_16,NaN,Identification Pass,NaN,NaN,master,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,R_16_1,R_16,Meet Identification Review Requirements,Identification Pass,NaN,decision_node,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R_16_1_1,R_16_1,Marital status pass - Married OR not married,Meet Identification Review Requirements,NaN,decision_node,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R_16_1_1_1,R_16_1_1,NOT married,Marital status pass - Married OR not married,NaN,leaf_rule,BO_NOT_married = 1,NaN,NaN,NaN,NaN,NaN,NaN
4,R_16_1_1_1_1,R_16_1_1_1,BO_NOT_married,NOT married,NaN,raw_attr,NaN,1.0,BO_NOT_married = 1,NaN,NaN,NaN,NaN

### Sort the data and add parent indices

In [626]:
df = df.sort_values(by=['parent_id','Node_ID'], ascending=[True, True])
df.head()

,Node_ID,node_desc,parent_id,parent_desc,operator,node_type,Formula
1,R_4_1,Mortgage Statement Validation Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,and,decision_node,NaN
27,R_4_2,Eligibility Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,and,decision_node,NaN
47,R_4_3,Mortgage Statement Capacity DTI Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,and,decision_node,NaN
74,R_4_4,CLTV Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,and,decision_node,NaN
86,R_4_5,Mortgage Statement Credit Check Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,and,decision_node,NaN

In [627]:
df['Cum_count'] = df.groupby(['parent_id']).cumcount()+1

### Create unique list of parents and their indices

In [628]:
for i in range(len(df)):
    df['operator'][i] = str(df['operator'][i]).upper()
    if df['Cum_count'][i] == 1 or df['operator'][i]== 'NAN':
        df['operator'][i] = " "
    if df['node_type'][i] == 'raw_attr':
        df['Node_ID'][i] = str(df['Node_ID'][i]) + "_" + str(df['Cum_count'][i])
df.head()

C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\36564946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['operator'][i] = str(df['operator'][i]).upper()
C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\36564946.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['operator'][i] = " "
C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\36564946.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Node_ID'][i] = str(df['Node_ID'][i]) + "_" + str(df['Cum_count'][i])

,Node_ID,node_desc,parent_id,parent_desc,operator,node_type,Formula,Cum_count
1,R_4_1,Mortgage Statement Validation Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,,decision_node,NaN,1
27,R_4_2,Eligibility Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,AND,decision_node,NaN,2
47,R_4_3,Mortgage Statement Capacity DTI Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,AND,decision_node,NaN,3
74,R_4_4,CLTV Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,AND,decision_node,NaN,4
86,R_4_5,Mortgage Statement Credit Check Pass,R_4,﻿Sec 4 - Mortgage Statement Pass\n,AND,decision_node,NaN,5

In [629]:
col_list = ['Node_ID', 'node_type', 'node_desc', 'parent_id', 'operator', 'Cum_count', 'Formula']
df = df[col_list]

df = df.drop_duplicates(subset=['Node_ID', 'node_type', 'node_desc'], keep="first")

df.to_csv(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\test.csv", index=False)
df.head()

,Node_ID,node_type,node_desc,parent_id,operator,Cum_count,Formula
1,R_4_1,decision_node,Mortgage Statement Validation Pass,R_4,,1,NaN
27,R_4_2,decision_node,Eligibility Pass,R_4,AND,2,NaN
47,R_4_3,decision_node,Mortgage Statement Capacity DTI Pass,R_4,AND,3,NaN
74,R_4_4,decision_node,CLTV Pass,R_4,AND,4,NaN
86,R_4_5,decision_node,Mortgage Statement Credit Check Pass,R_4,AND,5,NaN

### Graph2Code

#### Formula for non-leaf rules

In [630]:
# Remove raw attributes from the dataframe
df1 = df[~df["node_type"].isin(['raw_attr'])]

# Root node
root = ''
current_parent = [root]
current_children = df1[df1["parent_id"].isnull()]['Node_ID'].tolist()
# print(current_parent, current_children)

data = []
while len(current_children)>0:
    
    # Dataset of children of current_parent
    temp = df1[df1["parent_id"].isin(current_parent)]

    for pt_item in current_parent:
        temp_parent = temp[temp["parent_id"]==pt_item]
        formula = ''
        for index, row in temp_parent.iterrows():

            if row['operator'] != "":
                formula = formula + " "+ str(row['operator']) + " " + str(row['Node_ID'])
            else:
                formula = formula +str(row['Node_ID'])
        data.append((pt_item, formula.strip()))

    current_parent = current_children
    current_children = df1[df1["parent_id"].isin(current_parent)]['Node_ID'].tolist()     
                
# Convert list to dataframe
data = pd.DataFrame(data, columns=["Node_ID","Formula2"]) 
data.head()             


# Merge Formula column with main dataframe
df1 = pd.merge(df1, data, how = 'left', left_on = ['Node_ID'], right_on = ['Node_ID'])

# Places formulas in one column and drop the extra one
for i in range(len(df1)):
    if pd.isna(df1["Formula"][i])==True:
        df1["Formula"][i] = df1["Formula2"][i]

df1 = df1.drop('Formula2', axis=1)

df1.to_csv(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\test.csv", index=False)
df1.head()

C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\2872899968.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Formula"][i] = df1["Formula2"][i]

,Node_ID,node_type,node_desc,parent_id,operator,Cum_count,Formula
0,R_4_1,decision_node,Mortgage Statement Validation Pass,R_4,,1,R_4_1_1 AND R_4_1_2 AND R_4_1_3 AND R_4_1_4 AN...
1,R_4_2,decision_node,Eligibility Pass,R_4,AND,2,R_4_2_1 OR R_4_2_2 OR R_4_2_3
2,R_4_3,decision_node,Mortgage Statement Capacity DTI Pass,R_4,AND,3,R_4_3_1 AND R_4_3_2 AND R_4_3_3
3,R_4_4,decision_node,CLTV Pass,R_4,AND,4,R_4_4_1 AND R_4_4_2
4,R_4_5,decision_node,Mortgage Statement Credit Check Pass,R_4,AND,5,R_4_5_1 AND R_4_5_2 AND R_4_5_3 AND R_4_5_4

#### Generate SQL query for the section and write to text file

In [638]:
# Remove raw attributes from the dataframe
df2 = df1[~df1["node_type"].isin(['raw_attr'])]

# Root node
root = ''
current_parent = [root]
current_children = df2[df2["parent_id"].isnull()]['Node_ID'].tolist()
# print(current_children, current_parent)

query_text = ''
temp_query_text = []

while len(current_children)>0:

    # print(current_children, current_parent)
    
    # Dataset of children of current_parent
    temp = df2[df2["Node_ID"].isin(current_children)]

    formula_text = ''
    for index, row in temp.iterrows():
        if row["node_type"] == 'leaf_rule':
            formula_text = formula_text + "\n, CASE WHEN "+ str(row['Formula']) + " THEN 1 ELSE 0 END as " + str(row['Node_ID'])  
        else:
            formula_text = formula_text + "\n, "+ str(row['Formula']) + " as " + str(row['Node_ID'])  
 
    temp_text = str("\nquery = ''' \nselect *") + formula_text + " " + str("\n\n from data \n '''") + str("\n data = mysql(query)\n\n")
    print(temp_text)
    temp_query_text.append(temp_text)
    query_text = temp_text + query_text

    current_parent = current_children
    current_children = df2[df2["parent_id"].isin(current_parent)]['Node_ID'].tolist()

with open(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\Sec4_query.txt", "w") as text_file:
    text_file.write("%s" % query_text)

# print(query_text)

query = '''
select *
, R_4_1 AND R_4_2 AND R_4_3 AND R_4_4 AND R_4_5 as R_4

 from data
 '''
 data = mysql(query)



query = '''
select *
, R_4_1_1 AND R_4_1_2 AND R_4_1_3 AND R_4_1_4 AND R_4_1_5 AND R_4_1_6 AND R_4_1_7 AND R_4_1_8 AND R_4_1_9 as R_4_1
, R_4_2_1 OR R_4_2_2 OR R_4_2_3 as R_4_2
, R_4_3_1 AND R_4_3_2 AND R_4_3_3 as R_4_3
, R_4_4_1 AND  R_4_4_2 as R_4_4
, R_4_5_1 AND  R_4_5_2 AND  R_4_5_3 AND  R_4_5_4 as R_4_5

 from data
 '''
 data = mysql(query)



query = '''
select *
,  as R_4_1_1
, CASE WHEN subject_property_address_on_ms = address_on_reo  THEN 1 ELSE 0 END as R_4_1_2
, CASE WHEN subject_property_address_on_ms = address_on_reo  THEN 1 ELSE 0 END as R_4_1_3
, CASE WHEN datediff(day, application_date, mortgage_statement_date) < 45  THEN 1 ELSE 0 END as R_4_1_4
, CASE WHEN borrowers_on_ms = borrowers_on_1003  THEN 1 ELSE 0 END as R_4_1_5
, CASE WHEN valid_lender_in_ms = 1  THEN 1 ELSE 0 END as R_4_1_6
, CASE WHEN valid_lender_in_ms = 1  THEN 1 ELSE 0 END as R_4_1_7
, R_4_1_8_1 AND R_4_1_8_2 as R_4_1_8
, CASE WHEN stmnt_not_edited_modified = 1  THEN 1 ELSE 0 END as R_4_1_9
, CASE WHEN mtgt_stmnt_indicate_property_or_project_type = 1  THEN 1 ELSE 0 END as R_4_2_1
, R_4_2_2_1 OR R_4_2_2_2 as R_4_2_2
, R_4_2_3_1 OR R_4_2_3_2 OR R_4_2_3_3 as R_4_2_3
, R_4_3_1_1 OR R_4_3_1_2 OR R_4_3_1_3 as R_4_3_1
, CASE WHEN pymt_on_ms = payment_on_credit_report  THEN 1 ELSE 0 END as R_4_3_2
, CASE WHEN mtgt_stmnt_is_full_month_pymt = 1  THEN 1 ELSE 0 END as R_4_3_3
, R_4_4_1_1 OR  R_4_4_1_2 as R_4_4_1
, CASE WHEN os_bal_on_ms = os_bal_on_credit_report  THEN 1 ELSE 0 END as R_4_4_2
, CASE WHEN current_month_late_payment_on_mtgt_stmnt = 0  THEN 1 ELSE 0 END as R_4_5_1
, R_4_5_2_1 OR  R_4_5_2_2 as R_4_5_2
, CASE WHEN curr_nod_or_preforeclosure_evidence = 1   THEN 1 ELSE 0 END as R_4_5_3
, CASE WHEN has_forebearance = 0  THEN 1 ELSE 0 END as R_4_5_4

 from data
 '''
 data = mysql(query)



query = '''
select *
, CASE WHEN verify_stmnt_contains_all_pages = 1   THEN 1 ELSE 0 END as R_4_1_8_1
, CASE WHEN all_fields_in_ms_complete = 1  THEN 1 ELSE 0 END as R_4_1_8_2
, CASE WHEN lien_pos_dsc = 1  THEN 1 ELSE 0 END as R_4_2_2_1
, CASE WHEN ineligible_1st_lien_type_if_dhl_is_2nd_lien = 1  THEN 1 ELSE 0 END as R_4_2_2_2
, CASE WHEN has_escrow = 0  THEN 1 ELSE 0 END as R_4_2_3_1
, R_4_2_3_2_1 AND R_4_2_3_2_2 AND R_4_2_3_2_3 as R_4_2_3_2
, CASE WHEN negative_escrow_bal = 1  THEN 1 ELSE 0 END as R_4_2_3_3
, CASE WHEN arm_ind = 0  THEN 1 ELSE 0 END as R_4_3_1_1
, R_4_3_1_2_1 AND R_4_3_1_2_2 as R_4_3_1_2
, R_4_3_1_3_1 AND R_4_3_1_3_2 AND R_4_3_1_3_3 as R_4_3_1_3
, CASE WHEN mortgage_modification = 1  THEN 1 ELSE 0 END as R_4_4_1_1
, R_4_4_1_2_1 AND  R_4_4_1_2_2 as R_4_4_1_2
, CASE WHEN late_fee_owed = 0         THEN 1 ELSE 0 END as R_4_5_2_1
, R_4_5_2_2_1 AND  R_4_5_2_2_2 as R_4_5_2_2

 from data
 '''
 data = mysql(query)



query = '''
select *
, CASE WHEN mortgage_stmt_indicates_escrows = 1  THEN 1 ELSE 0 END as R_4_2_3_2_1
, CASE WHEN taxes_insurance_captures_in_neto = 1  THEN 1 ELSE 0 END as R_4_2_3_2_2
, CASE WHEN evidence_of_mtgt_ins_coverage_shortage = 1  THEN 1 ELSE 0 END as R_4_2_3_2_3
, CASE WHEN arm_ind = 1  THEN 1 ELSE 0 END as R_4_3_1_2_1
, CASE WHEN datediff(year, adjustment_date, getdate()) > 3  THEN 1 ELSE 0 END as R_4_3_1_2_2
, CASE WHEN arm_ind  = 1  THEN 1 ELSE 0 END as R_4_3_1_3_1
, CASE WHEN rate_adjustment_within_3y  = 1  THEN 1 ELSE 0 END as R_4_3_1_3_2
, R_4_3_1_3_3_1 AND R_4_3_1_3_3_2 AND R_4_3_1_3_3_3 as R_4_3_1_3_3
, CASE WHEN modification_docs = 1  THEN 1 ELSE 0 END as R_4_4_1_2_1
, CASE WHEN deferred_balance_cltv = 1  THEN 1 ELSE 0 END as R_4_4_1_2_2
, CASE WHEN late_fee_owed = 1         THEN 1 ELSE 0 END as R_4_5_2_2_1
, R_4_5_2_2_2_1 OR  R_4_5_2_2_2_2 OR  R_4_5_2_2_2_3 as R_4_5_2_2_2

 from data
 '''
 data = mysql(query)



query = '''
select *
, CASE WHEN datediff(year, lien_payment_adjustment_date, application_date ) < 3  THEN 1 ELSE 0 END as R_4_3_1_3_3_1
, CASE WHEN payment_updated_2_pct_above_existing_rate_1st_lien = 1  THEN 1 ELSE 0 END as R_4_3_1_3_3_2
, CASE WHEN payment_updated_in_dti_calc = 1  THEN 1 ELSE 0 END as R_4_3_1_3_3_3
, CASE WHEN late_fee_owed = 1  THEN 1 ELSE 0 END as R_4_5_2_2_2_1
, CASE WHEN late_fee_owed = 1  THEN 1 ELSE 0 END as R_4_5_2_2_2_2
, CASE WHEN late_fee_owed = 1  THEN 1 ELSE 0 END as R_4_5_2_2_2_3

 from data
 '''
 data = mysql(query)

### Code2Outcome

#### Application Data

In [639]:
# Reads the excel file with approved and declined loans into two pandas dataframes
appr = pd.read_excel(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Rules_Attr_Digitization_new.xlsx", sheet_name = '2.Raw_attr_100_aprd_app_PostPro', skiprows=0, index_col=None, na_values=['NA'])
dec = pd.read_excel(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Rules_Attr_Digitization_new.xlsx", sheet_name = '2.Raw_attr_100_dec_app_PostPro', skiprows=0, index_col=None, na_values=['NA'])
appr1 = appr.drop_duplicates(subset='Attribute_name_for_Python_Code',keep='first')
# print(appr1.shape)

dec1 = dec.drop_duplicates(subset='Attribute_name_for_Python_Code',keep='first')
# print(dec1.shape)


# create a list with var names for approved loans
var_list = ['Attribute_name_for_Python_Code','Loan-0','Loan-1_Refined']
for i in range(2,106):
    var_list.append(str('A_Loan{}'.format(i)))

# remove loans with missing data from the sample
var_list.remove('A_Loan17')
var_list.remove('A_Loan27')
var_list.remove('A_Loan28')
var_list.remove('A_Loan51')
var_list.remove('A_Loan81')
var_list.remove('A_Loan82')

# create a list with var names for declined loans
var_list_dec = ['Attribute_name_for_Python_Code']
for i in range(1,101):
    var_list_dec.append(str('D_Loan{}'.format(i)))

# subset the approved loans dataset    
appr1 = appr1[var_list]
appr2 = appr1.set_index('Attribute_name_for_Python_Code').T # transpose

appr2.columns = appr2.columns.str.replace("[';','.']", "") # replace special characters from column names
appr2.columns = appr2.columns.str.replace("[#,@,&,' ',',',(,),<,>,/,?]", "_")  # replace special characters from column names
# print(appr2.shape)

# subset the declined loans dataset    
dec1 = dec1[var_list_dec]
dec2 = dec1.set_index('Attribute_name_for_Python_Code').T # transpose

dec2.columns = dec2.columns.str.replace("[';','.']", "") # replace special characters from column names
dec2.columns = dec2.columns.str.replace("[#,@,&,' ',',',(,),<,>,/,?]", "_")  # replace special characters from column names
# print(dec2.shape)

appr2 = appr2.append(dec2)
appr2.head()

C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\569436597.py:33: FutureWarning: The default value of regex will change from True to False in a future version.
  appr2.columns = appr2.columns.str.replace("[';','.']", "") # replace special characters from column names
C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\569436597.py:34: FutureWarning: The default value of regex will change from True to False in a future version.
  appr2.columns = appr2.columns.str.replace("[#,@,&,' ',',',(,),<,>,/,?]", "_")  # replace special characters from column names
C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\569436597.py:41: FutureWarning: The default value of regex will change from True to False in a future version.
  dec2.columns = dec2.columns.str.replace("[';','.']", "") # replace special characters from column names
C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\569436597.py:42: FutureWarning: The default value of regex will change from True to False in a future version.
  dec2.columns = dec2.columns.str.replace("[#,@,&,' ',',',(,),<,>,/,?]", "_")  # replace special characters from column names
C:\Users\AdarshKuthuru\AppData\Local\Temp\ipykernel_17840\569436597.py:45: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appr2 = appr2.append(dec2)

Attribute_name_for_Python_Code,CLNT_LOAN_APLN_NBR,Current_Date,Application_Decline_Date,Declined_Application_Review,Sharepoint_site_updated,Income_decreased,Credit_score_decreased,Conditions_added,Omitted_debts_decreased,No_change_in_DTI,...,cosigner_or_guarantor_on_any_debt_not_disclosed_dec,outstanding_judgements_dec,delinquent_or_default_on_fed_debt_dec,personal_liability_in_a_lawsuit_dec,conveyed_title_in_lieu_of_foreclosure_in_past_7years_dec,property_sold_for_less_than_outstanding_mortgage_due_dec,foreclosure_in_last_7years_dec,bankruptcy_in_last_7years_dec,NaN,Decline_Reason
Loan-0,1008396376,2022-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,YES,YES,YES,YES,YES,YES,YES,YES,NaN,NaN
Loan-1_Refined,1010180313,2022-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,YES,YES,YES,YES,YES,YES,YES,YES,NaN,NaN
A_Loan2,1010170116,2022-08-15,NaN,NaN,YES,Verified,Verified,Verified,Verified,Verified,...,YES,YES,YES,YES,YES,YES,YES,YES,NaN,NaN
A_Loan3,1010172989,2022-08-15,NaN,NaN,YES,Verified,Verified,Verified,Verified,Verified,...,YES,YES,YES,YES,YES,YES,YES,YES,NaN,NaN
A_Loan4,1010181295,2022-08-15,NaN,NaN,NaN,Changes reviewed,Changes reviewed,Changes reviewed,Changes reviewed,Changes reviewed,...,YES,YES,YES,YES,YES,YES,YES,YES,NaN,NaN

In [ ]:
# initialize list of lists
appr2 = [['TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE'], ['TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE'], ['TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE']]
  
# Create the pandas DataFrame
appr2 = pd.DataFrame(appr2, columns=['R_4_1', 'R_4_2', 'R_4_3', 'R_4_4', 'R_4_5'])

#### Read the SQL query from text file and run it

In [3]:
from pandasql import sqldf
from Graph2Code import graph2code

mysql = lambda q: sqldf(q, globals()) # Standard Code

a = graph2code()

# for i in range(len(a)):
#     sec4_query = a[i]
#     data = mysql(sec4_query)

# data.to_csv('Testing_Section_4.csv')
print(a[0])

TypeError: 'NoneType' object is not subscriptable

In [641]:
# from pandasql import sqldf
# mysql = lambda q: sqldf(q, globals()) # Standard Code

# import mysql.connector

# #establishing the connection
# conn = mysql.connector.connect(
#    user='root', password='password', host='127.0.0.1', database='mydb'
# )
# #Creating a cursor object using the cursor() method
# cursor = conn.cursor()

# cursor = cnxn.cursor()
# with open(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\Sec4_query.txt",'r') as inserts:
#     query = inserts.read()
# cursor.execute(query)

In [563]:
# import sqlalchemy

# temptable = "tempx"
# sql = f"""select Year, count(*) as c 
#                         from {temptable} 
#                         where Month=1 
#                         and Sharpe between 1 and 2 
#                         and stock like '%%2%%'
#                         group by Year"""
# with open(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\script.sql","w") as f: f.write(sql)
# # read sql script from file.  pass it to pandas with connection
# with open(r"C:\Users\AdarshKuthuru\Downloads\UW_2022\DHL\Decision_Lineage\script.sql") as f: sql = f.read()
# engine = sqlalchemy.create_engine('mysql+pymysql://sniffer:sniffer@127.0.0.1/sniffer')
# conn = engine.connect()
# print(pd.read_sql(sql, conn).to_string(index=False))

### Add parent_index column to main dataset

In [77]:
df = pd.merge(df, df2, how = 'left', left_on = ['parent_id'], right_on = ['id'])
df = pd.merge(df, df2, how = 'left', left_on = ['Node_ID'], right_on = ['id'])

#rename columns
df = df.rename(columns={'index_x':'parent_index', 'index_y':'child_index', 'idx_y': 'index_num'})

col_list = ['Node_ID', 'node_type', 'node_desc', 'parent_id', 'parent_index', 'child_index', 'index_num']
df = df[col_list]

df.fillna('""', inplace=True)

df.head()

#rename columns
# df = pdf.rename(columns={'ClassSpecID_x':'ClassSpecID1','ClassSpecID_y':'ClassSpecID2','Class_Title_x':'Class_Title1','Class_Title_y':'Class_Title2','EmployerID_x':'EmployerID1','EmployerID_y':'EmployerID2',\
#         'New_JD_x':'New_JD1','New_JD_y':'New_JD2', 'Job_Desc_x':'Job_Desc1','Job_Desc_y':'Job_Desc2','BLS_Detailed_x':'BLS_Detailed1','BLS_Detailed_y':'BLS_Detailed2'})

,Node_ID,node_type,node_desc,parent_id,parent_index,child_index,index_num
0,R_4,master,Sec 4 - Mortgage Statement Pass,R,"""""",index1,1
1,R_4_1,decision,1. Meet Mortgage Review General Requirements,R_4,index1,index2,2
2,R_4_2,leaf,2. First Mortgage Eligible (first time home o...,R_4,index1,index7,7
3,R_4_3,decision,"3. If ARM, was payment calculated accurately d...",R_4,index1,index8,8
4,R_4_4,decision,"4. If modified, were modification papers obta...",R_4,index1,index13,13

In [82]:
###############################################
            # Create Tkinter widget
###############################################
root = Tk()
root.title('DHL Decision Lineage - Hierarchial View')
# root.iconbitmap('c:/gui/codemy.ico')
root.geometry("1500x800")

# Add some style
style = ttk.Style()
#Pick a theme
style.theme_use("default")
# Configure our treeview colors

style.configure("Treeview", 
	background="#D3D3D3",
	foreground="black",
	rowheight=25,
	fieldbackground="#D3D3D3"
	)
# Change selected color
style.map('Treeview', 
	background=[('selected', 'blue')])

# Create Treeview Frame
tree_frame = Frame(root)
tree_frame.pack(padx=50, pady=50)

# # Treeview Scrollbar
# tree_scroll = Scrollbar(tree_frame)
# tree_scroll.pack(side=RIGHT, fill=BOTH)

vscrollbar = ttk.Scrollbar(tree_frame, orient=VERTICAL)
vscrollbar.pack(side=RIGHT, fill=Y, expand=1)

hscrollbar = ttk.Scrollbar(tree_frame, orient=HORIZONTAL)
hscrollbar.pack(side=BOTTOM, fill=X, expand=1)


# Create Treeview
my_tree = ttk.Treeview(tree_frame, yscrollcommand=vscrollbar.set, xscrollcommand=hscrollbar.set, selectmode="extended")

# Pack to the screen
my_tree.pack()

# # Configure the scrollbar
# tree_scroll.config(command=my_tree.yview)

vscrollbar.configure(command=my_tree.yview)

hscrollbar.configure(command=my_tree.xview)


# Define Our Columns
my_tree['columns'] = ("Logic", "Value")

# Format Our Columns
my_tree.column("#0", anchor=W, width=750, minwidth=25)
my_tree.column('Logic', anchor=W, width=50, minwidth=25)
# my_tree.column('Node', anchor=W, width=500, minwidth=25)
my_tree.column('Value', anchor=W, width=150, minwidth=25)

# Create Headings
my_tree.heading("#0", text="Node", anchor=W) 
my_tree.heading('Logic', text='Logic', anchor=CENTER)
# my_tree.heading('Node', text='Node', anchor=W)
my_tree.heading('Value', text='Value', anchor=CENTER)

{}

In [83]:
# insert parent node
my_tree.insert(parent = "" , index = 1, iid = "index1", text = "Sec 4 - Mortgage Statement Pass", values = ('','PASS'), tags= 'PASS') 

# drop parent node from data
df.drop(df[df.node_type == 'master'].index, inplace=True)

for index, row in df.iterrows():
    new_row = copy.deepcopy(row)
    new_dict= new_row.to_dict()

    
    # Inserting branches
    my_tree.insert(parent = new_dict['parent_index'] , index = new_dict['index_num'], iid = new_dict['child_index'], text = new_dict['node_desc'], values = ('','PASS'), tags= 'PASS')